<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="src/Wind/Tests/bootstrap.php" colors="true">
    <filter>
        <blacklist>
            <directory>vendor</directory>
        </blacklist>
    </filter>
    <testsuites>
        <testsuite name="Wind Tests">
            <directory>src/Wind/Tests/</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="coverage-html" target="coverage-report"/>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
</phpunit>
